.card {
  background: #fff;
  border-radius: 2px;
  height: 160px;
  overflow: hidden;
  margin: 1rem;
  position: relative;
  width: 245px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  display: inline-block;
}

.card > .img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card > .img-container img {
  margin-top: 10px;
  margin: 10px;
  width: 91%;
  height: 140px;
  border-color: black;
  border-style: solid;
}